/* ---General--- */
:root {
    --primary-color: #fff;
    --secondary-color: #c3b782;
    --other-color-1: #9cc6cd;
    --primary-background-color: #121212;
    --secondary-background-color: #3a3a3a;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color);
}

.header-footer {
    width: 100%;
    padding: 15px 10px;
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
}
/* ...End of General... */

/* ---Header and Nav--- */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.5px var(--secondary-background-color) solid;
}

header h1 {
    margin-left: 30px;
    font-size: 300%;
}

header li {
    display: inline-block;
    margin: 20px 35px;
}
/* ...End of Header and Nav... */

/* ---Hero--- */
.hero {
    height: 100vh;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(../images/laptop-computer-screen-keyboard-technology-web-912807-pxhere.com.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 0.5px var(--secondary-background-color) solid;
}
/* ...End of Hero... */

/* ---Main--- */
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3% 2%;
}

.avatar {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px var(--secondary-background-color) solid;
    width: 30%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(../images/7394F2FA-21B9-404B-BB4B-D067058F004A.jpeg);
    background-position: center;
    background-size: contain;
}

.main-container article {
    justify-content: space-evenly;
    margin-top: 2%;
}

article p {
    font-size: 110%;
    width: 60%;
    margin: 3% auto 8%;
    padding-top: 20px;
    line-height: 4em;
}

h2 {
    display: inline;
    padding-bottom: 8px;
    font-size: 250%;
    border-bottom: var(--primary-color) solid 2px;
}

.separator {
    border: var(--secondary-background-color) solid 1px;
    border-radius: 90%;
    margin-bottom: 80px;
}
/* ...End of Main... */

/* ---Footer--- */
footer {
    text-align: center;
    border-top: 0.5px var(--secondary-background-color) solid;
}
/* ...End of Footer... */