/* ---General--- */
:root {
    --primary-text-color: #fff;
    --secondary-text-color: #c3b782;
    --other-text-color-1: #9cc6cd;
    --primary-background-color: #121212;
    --secondary-background-color: #3a3a3a;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-text-color);
}

.header-footer {
    width: 100%;
    padding: 15px 10px;
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover {
    color: var(--secondary-text-color);
}

p {
    color: var(--other-text-color-1);
}
/* ...End of General... */

/* ---Header and Nav--- */
header {
    position: fixed;
}

header h1 {
    display: inline-block;
    margin-left: 30px;
    font-size: 300%;
}

header nav {
    float: right;
    margin-right: 30px;
    padding: 20px 10px;
}

header li {
    display: inline-block;
    margin-left: 50px;
}
/* ...End of Header and Nav... */

/* ---Hero--- */
.hero {
    height: 100vh;
    width: 100%;
    margin-bottom: 40px;
    background-image: url(../images/laptop-computer-screen-keyboard-technology-web-912807-pxhere.com.jpg);
    background-size: cover;
    background-position: center;
}
/* ...End of Hero... */

/* ---Main--- */
.main-container {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
}

.main-container article {
    margin: 2% 0;
    justify-content: space-evenly;
}

h2 {
    font-size: 250%;
}
/* ...End of Main... */

/* ---Footer--- */
footer {
    text-align: center;
    border-top: var(--primary-text-color) solid 1px;
}
/* ...End of Footer... */